{% extends '::base.html.twig' %}
{% block slider_position %}1{% endblock %}
{% block body %}
    <div class="rounded flash-info">
        Selectati in stanga categoria de act, iar in sectiunea centrala actul ce trebuie tradus. Puteti sa selectati mai multe acte la aceasta etapa
    </div>
    <div class="documnets-by-category">
        <div class="categories-list">
            <div class="categories-title">Categorii de Acte</div>
            <div class="categories-list-items">
                {# lista categoriilor #}
                {% for item in docs %}
                    <a href="javascript:;" onclick="showCategory({{ item.id }}, this)">{{ item.category_name_ro }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="documents-items-list categories-docs-list">
            {% for item in docs %}
                <span class="hidden" id="category_{{ item.id }}">
                    {% for doc in item.category_docs %}
                        <div class="document-item">
                            <div class="document-item-img-container">
                                <img src="../images/doc1.jpg">
                            </div>
                            <div class="document-item-name">{{ doc.doc_name_ro }}</div>
                            <div class="to-center">
                                <div class="div-btn standard-btn rounded">
                                    <a href="javascript:;" class="button add-btn" onclick="addRemoveDoc({{ doc.id }}, 'add')">Adaugaţi</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </span>
            {% endfor %}
        </div>
    </div>
    <div class="rounded flash-info">
        Daca n-ai gasit actul cautat, propune sa-l adaugam. <a href="#">Apasa aici</a>
    </div>
    <div id="stored_docs" class="documents-items-list border-separator">
        
    </div>
    <div class="to-center top-separator">
        <div class="div-btn standard-btn rounded">
            <a href="" class="button prev-btn">Editeaza</a>
        </div>
        <div class="div-btn standard-btn rounded">
            <a href="{{ path('FrontFrontBundle_step2') }}" class="button next-btn">Urmatorul pas</a>
        </div>
    </div>
    <script>
        function showCategory(category_id, obj) {
            $('.hidden').hide();
            $('.hidden_doc').hide();
            $('#category_'+category_id).show();
            $('.categories-list-items a').removeClass('active');
            $(obj).addClass('active');
        }
        function addRemoveDoc(doc_id, action) {
            $.ajax({
                url: "{{ path('ajax') }}?action="+action+"&doc_id="+doc_id,
                type: "get",
                beforeSend: function(){
                },
                success: function(result){
                    $('#stored_docs').html(result);
                }
            });
        }
        $(document).ready(function(){
            addRemoveDoc(0, 0);
            $('.steps-list .step-item ').eq(0).addClass('active')
        });
    </script>
{% endblock %}