{% extends '::base.html.twig' %}
{% block slider_position %}1{% endblock %}
{% block body %}
    <table border="1" width="100%">
        <tr>
            <td>
                {# lista categoriilor #}
                {% for item in docs %}
                    <a href="javascript:;" style="padding: 10px; display:block;" onclick="showCategory({{ item.id }})">{{ item.category_name_ro }}</a>
                    <br />
                {% endfor %}
            </td>
            <td>
                {# lista documentelor pentru categorii #}
                {% for item in docs %}
                <div class="hidden" id="category_{{ item.id }}">
                    {% for doc in item.category_docs %}
                        {{ doc.doc_name_ro }} <a href="javascript:;" onclick="addRemoveDoc({{ doc.id }}, 'add')">Adauga</a>
                        <br />
                    {% endfor %}
                </div>
                {% endfor %}
            </td>
        </tr>
    </table>
    <div id="stored_docs"></div>
    <a href="{{ path('FrontFrontBundle_step2') }}">Urmatorul pas</a>
    <script>
        function showCategory(category_id) {
            $('.hidden').hide();
            $('.hidden_doc').hide();
            $('#category_'+category_id).show();
        }
        function addRemoveDoc(doc_id, action) {
            $.ajax({
                url: "{{ path('ajax') }}?action="+action+"&doc_id="+doc_id,
                type: "get",
                beforeSend: function(){
                },
                success: function(result){
                    $('#stored_docs').html(result);
                }
            });
        }
        $(document).ready(function(){
            addRemoveDoc(0, 0);
        });
    </script>
{% endblock %}