<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/admin_style.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
        {% endblock %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% if app.session.hasFlash('notice') %}
            <div class="flash-notice alert alert-success">
                {{ app.session.flash('notice') }}
            </div>
        {% endif %}
        <div class="fluid">
                <div class="mini-layout-sidebar">
                    <div style="float:left; padding: 15px; margin-right: 10px;" class="well">
                        {% block left_menu %}
                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                    <a href="{{ path('NotarNotarBunde_admin_homepage') }}"><i class="icon-book"></i> Notari</a> 
                                </li>
                                <li>
                                    <a href="{{ path('UserUserBunde_admin_homepage') }}"><i class="icon-user"></i> Utilizatori</a> 
                                </li>
                                <li>
                                    <a href="javascript:;" onclick="$('#doc_submenu').toggle();"><i class="icon-file"></i> Documente</a> 
                                    <div style="display:none;" id="doc_submenu">
                                        <ul class="nav nav-pills nav-stacked">
                                            <li style="padding-left:32px;">
                                                <a style="margin:0" href="{{ path('DocDocBundle_doc_langs') }}">Limbi documente</a> 
                                            </li>
                                            <li style="padding-left:32px;">
                                                <a style="margin:0" href="{{ path('DocDocBundle_doc_categories') }}">Categorii documente</a> 
                                            </li>
                                            <li style="padding-left:32px;">
                                                <a style="margin:0" href="{{ path('DocDocBundle_doc') }}">Documente</a> 
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="{{ path('UserUserBunde_admin_homepage') }}?logout=1"><i class="icon-off"></i> Iesire</a> 
                                </li>
                            </ul>
                        {% endblock %}
                    </div>
                </div>
                <div class="mini-layout-body">
                    {% block body %}
                    {% endblock %}
                </div>
        </div>
        {% block javascripts %}
            <script src="{{ asset('js/bootstrap.js') }}" type="text/javascript"></script>
        {% endblock %}
        <script>
            {% block inline %}
            {% endblock %}
        </script>
    </body>
</html>
