{% extends '::admin_base.html.twig' %}
{% block body %}
<style>
    #map_canvas{
        width: 500px;
        height: 300px;
    }
</style>
<div class="center_div">
    <a href="javascript:;" class="add_button" onclick="$('#add_form').toggle();initialize();">Adauga notar</a>
    <div id="add_form" class="{% if not edit %}add_hidden{% endif %}">
        <form action="{{ path('NotarNotarBunde_admin_homepage') }}" method="post" {{ form_enctype(form) }}>
              {{ form_widget(form) }}
              {% if edit %}
                  <input type="hidden" name="notar_id" value="{{ edit }}">
              {% endif %}
              {{ form_rest(form) }}
              <input type="submit" value="Salveaza" class="btn btn-primary"/>
        </form>
        <div id="map_canvas"></div>
    </div>
    <div>
        <table width="100%" class="table table-striped">
            <tr>
                <th>
                    Nume
                </th>
                <th>
                    Adresa
                </th>
                <th>
                    Orarul de lucru
                </th>
                <th>
                    Email
                </th>
                <th>
                    Telefon
                </th>
                <th>
                    Data adaugarii
                </th>
                <th>
                    Operatii
                </th>
            </tr>
            {% for item in notars %}
                <tr>
                    <td>
                        {{ item.notarname }}
                    </td>
                    <td>
                        {{ item.notaraddress }}
                    </td>
                    <td>
                        {{ item.workingschedule }}
                    </td>
                    <td>
                        {{ item.email }}
                    </td>
                    <td>
                        {{ item.phone }}
                    </td>
                    <td>
                        {{ item.added|date('Y-m-d') }}
                    </td>
                    <td>
                        <a href="?action=delete_notar&id={{ item.id }}">Sterge</a> |
                        <a href="?action=edit_notar&id={{ item.id }}">Modifica</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
{% endblock %}
{% block inline %}
    function initialize() {
        var myLatlng = new google.maps.LatLng(46.94043270,28.95890960);
        var myOptions = {
        zoom: 4,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

        var nePoint = new google.maps.LatLng(46.94043270, 28.95890960);
        var swPoint = new google.maps.LatLng(46.92553860, 28.89889790);

        var bounds = new google.maps.LatLngBounds(swPoint, nePoint);

        //var currentBounds = Map.map.getBounds();

        map.fitBounds(bounds);

        var marker = new google.maps.Marker({
            position: map.getCenter(), 
            map: map,
            title:"",
            draggable: true
        });
        google.maps.event.addListener(marker, "dragend", function(event) {
            var point = marker.getPosition();
            map.panTo(point);
            $('#notar_notar_lat').val(event.latLng.lat());
            $('#notar_notar_long').val(event.latLng.lng());
        });
    }
{% endblock %}
