{% extends '::admin_base.html.twig' %}
{% block body %}
<div class="center_div">
    <a href="javascript:;" class="add_button" onclick="$('#add_form').toggle();">Adauga notar</a>
    <div id="add_form" class="{% if not edit %}add_hidden{% endif %}">
        <form action="{{ path('NotarNotarBunde_admin_homepage') }}" method="post" {{ form_enctype(form) }}>
              {{ form_widget(form) }}
              {% if edit %}
                  <input type="hidden" name="notar_id" value="{{ edit }}">
              {% endif %}
              {{ form_rest(form) }}
              <input type="submit" value="Salveaza" class="btn btn-primary"/>
        </form>
    </div>
    <div id="map_canvas" style="width: 500px; height: 300px"></div>
    <div>
        <table width="100%" class="table table-striped">
            <tr>
                <th>
                    Nume
                </th>
                <th>
                    Adresa
                </th>
                <th>
                    Orarul de lucru
                </th>
                <th>
                    Email
                </th>
                <th>
                    Telefon
                </th>
                <th>
                    Data adaugarii
                </th>
                <th>
                    Operatii
                </th>
            </tr>
            {% for item in notars %}
                <tr>
                    <td>
                        {{ item.notarname }}
                    </td>
                    <td>
                        {{ item.notaraddress }}
                    </td>
                    <td>
                        {{ item.workingschedule }}
                    </td>
                    <td>
                        {{ item.email }}
                    </td>
                    <td>
                        {{ item.phone }}
                    </td>
                    <td>
                        {{ item.added|date('Y-m-d') }}
                    </td>
                    <td>
                        <a href="?action=delete_notar&id={{ item.id }}">Sterge</a> |
                        <a href="?action=edit_notar&id={{ item.id }}">Modifica</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="//maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyAN05Xs0ppkIJ0Px87wDMEApHTcBx3sewI" type="text/javascript"></script>
{% endblock %}
{% block inline %}
    $(document).ready(function(){
        initialize();
    })
    function initialize() {
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map_canvas"));
        map.setCenter(new GLatLng(37.4419, -122.1419), 13);
        map.setUIToDefault();
      }
    }
{% endblock %}
