{% extends '::admin_base.html.twig' %}
{% block body %}
<div class="center_div">
    <div id="add_form">
      {% if edit %}
        <form action="{{ path('UserUserBunde_admin_homepage') }}" method="post" {{ form_enctype(form) }}>
              {{ form_widget(form) }}
                  <input type="hidden" name="user_id" value="{{ edit }}">
              {{ form_rest(form) }}
              <input type="submit" />
        </form>
      {% endif %}
    </div>
    <div>
        <table width="100%" class="table table-striped">
            <tr>
                <th>
                    Nume
                </th>
                <th>
                    Prenume
                </th>
                <th>
                    Email
                </th>
                <th>
                    Telefon
                </th>
                <th>
                    Data adaugarii
                </th>
                <th>
                    Operatii
                </th>
            </tr>
            {% for item in users %}
                <tr>
                    <td>
                        {{ item.name }}
                    </td>
                    <td>
                        {{ item.lname }}
                    </td>
                    <td>
                        {{ item.email }}
                    </td>
                    <td>
                        {{ item.phone }}
                    </td>
                    <td>
                        {{ item.added|date('Y-m-d') }}
                    </td>
                    <td>
                        <a href="?action=delete_user&id={{ item.id }}">Sterge</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}