{% extends '::admin_base.html.twig' %}
{% block body %}
<div class="center_div">
    <a href="javascript:;" class="add_button" onclick="$('#add_form').toggle();">Creaza document</a>
    <div id="add_form" class="{% if not edit and not app.request.query.get('category_id') %}add_hidden{% endif %}" {{ form_enctype(form) }}>
        <form action="{{ path('DocDocBundle_doc_handle_forms') }}" method="post" {{ form_enctype(form) }}>
              {{ form_widget(form) }}
              {{ form_rest(form) }}
              {% if app.request.query.get('id') %}
                  <input type="hidden" value="{{ app.request.query.get('id') }}" name="modify_id">
              {% endif %}
              {% if form.vars.value.path is defined %}
                  <img src="/uploads/documents/{{ form.vars.value.path }}" width="100"/>
                  <br />
                  <br />
              {% endif %}
              <input type="submit" value="Salveaza" class="btn btn-primary"/>
        </form>
    </div>
    <div>
        <table width="100%" class="table table-striped">
            <tr>
                <th>
                    Categoria
                </th>
                <th>
                    Nume document
                </th>
                <th>
                    Limbi
                </th>
                <th>
                    Activa?
                </th>
                <th>
                    Sortare
                </th>
                <th>
                    Operatii
                </th>
            </tr>
            {% for item in docs %}
                <tr>
                    <td>
                        {{ item.category_name_ro }}
                    </td>
                    <td>
                        {{ item.doc_name_ro }}
                    </td>
                    <td>
                        <b>Completate</b><br />
                        {% for lang, key in item.filled_langs %}
                            <a class="label label-success" href="?action=edit_doc&id={{ key['document_id'] }}" title="Modifica documentul pentru aceasta limba">{{ key['lang_name'] }}</a>
                        {% endfor %}
                        <br />
                        <b>NEcompletate</b><br />
                        {% for lang, key in item.not_filled_langs %}
                            <a class="label label-important" href="?add_language={{ key['id'] }}&doc_list_id={{ item.doc_list_id }}" title="Creaza document pentru aceasta limba">{{ key['lang_name'] }}</a>
                        {% endfor %}
                    </td>
                    <td>
                        {% if item.is_active %}<span class="label label-success">Da</span>{% else %}<span class="label label-important">Nu</span>{% endif %}
                    </td>
                    <td>
                        {{ item.sorting }}
                    </td>
                    <td>
                        <a href="?action=delete_docs&id={{ item.doc_list_id }}" onclick="return confirm('Se vor sterge toate traducerile acestui document!\nConfirmati?')">Sterge</a>
                        <br />
                        <a href="?action=edit_doc_list&id={{ item.doc_list_id }}">Modifica</a>
                        <br />
                        <a href="{{ path('DocDocBundle_doc_files') }}?doc_list_id={{ item.doc_list_id }}">Cimpuri</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
{% block inline %}
    $(document).ready(function() {
        $('#doc_content').tinymce({
            // Location of TinyMCE script
            script_url : '{{ asset('js/tiny_mce/tiny_mce.js') }}',

            // General options
            theme : "advanced",
            plugins : "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,advlist",

            // Theme options
            theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
            theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
            theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
            theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak",
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "left",
            theme_advanced_statusbar_location : "bottom",
            theme_advanced_resizing : true,

            // Example content CSS (should be your site CSS)
            content_css : "{{ asset('css/tinymce/content.css') }}",

            // Drop lists for link/image/media/template dialogs
            template_external_list_url : "{{ asset('js/tiny_mce/plugins/lists/template_list.js') }}",
            external_link_list_url : "{{ asset('js/tiny_mce/plugins/lists/link_list.js') }}",
            external_image_list_url : "{{ asset('js/tiny_mce/plugins/lists/image_list.js') }}",
            media_external_list_url : "{{ asset('js/tiny_mce/plugins/lists/media_list.js') }}"
        });
    });
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/tiny_mce/jquery.tinymce.js') }}" type="text/javascript"></script>
{% endblock %}