{% extends '::admin_base.html.twig' %}
{% block body %}
<div class="center_div">
    <a href="javascript:;" class="add_button" onclick="$('#add_form').toggle();">Adauga document</a>
    <div id="add_form" class="{% if not edit and not app.request.query.get('category_id') %}add_hidden{% endif %}">
        <form action="{{ path('DocDocBundle_doc') }}" method="post" {{ form_enctype(form) }}>
              {{ form_widget(form) }}
              {% if edit %}
                  <input type="hidden" name="doc_id" value="{{ edit }}">
              {% endif %}
              {{ form_rest(form) }}
              <input type="submit" />
        </form>
    </div>
    <div>
        <table width="100%" cellpadding="0" cellspacing="0" border="1" class="items_table">
            <tr>
                <td>
                    Categoria
                </td>
                <td>
                    Nume document
                </td>
                <td>
                    Limbi
                </td>
                <td>
                    Activa?
                </td>
                <td>
                    Sortare
                </td>
                <td>
                    Operatii
                </td>
            </tr>
            {% for item in docs %}
                <tr>
                    <td>
                        {{ item.category_name_ro }}
                    </td>
                    <td>
                        {{ item.doc_name_ro }}
                    </td>
                    <td>
                        <b>Completate</b><br />
                        {% for lang, key in item.filled_langs %}
                            <a href="?action=edit_doc&id={{ key['document_id'] }}" title="Modifica documentul pentru aceasta limba">{{ key['lang_name'] }}</a>
                        {% endfor %}
                        <br />
                        <b>NEcompletate</b><br />
                        {% for lang, key in item.not_filled_langs %}
                            <a href="?add_language={{ key['id'] }}&category_id={{ item.doc_category_id }}" title="Creaza document pentru aceasta limba">{{ key['lang_name'] }}</a>
                        {% endfor %}
                    </td>
                    <td>
                        {% if item.is_active %}Da{% else %}Nu{% endif %}
                    </td>
                    <td>
                        {{ item.sorting }}
                    </td>
                    <td>
                        <a href="?action=delete_docs&id={{ item.doc_category_id }}" return="confirm('Se vor sterge toate ')">Sterge</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}