{% extends '::admin_base.html.twig' %}
{% block body %}
<div class="center_div">
    <a href="javascript:;" class="add_button" onclick="$('#add_form').toggle();">Adauga limba</a>
    <div id="add_form" class="{% if not edit %}add_hidden{% endif %}">
        <form action="{{ path('DocDocBundle_doc_langs') }}" method="post" {{ form_enctype(form) }}>
              {{ form_widget(form) }}
              {% if edit %}
                  <input type="hidden" name="lang_id" value="{{ edit }}">
              {% endif %}
              {{ form_rest(form) }}
              <input type="submit" value="Salveaza" class="btn btn-primary"/>
        </form>
    </div>
    <div>
        <table width="100%"  class="table table-striped">
            <tr>
                <th>
                    Denumirea
                </th>
                <th>
                    Operatii
                </th>
            </tr>
            {% for item in langs %}
                <tr>
                    <td>
                        {{ item.langname }}
                    </td>
                    <td>
                        <a href="?action=delete_lang&id={{ item.id }}">Sterge</a> |
                        <a href="?action=edit_lang&id={{ item.id }}">Modifica</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}