{% extends '::admin_base.html.twig' %}
{% block body %}
<div class="center_div">
    <a href="javascript:;" class="add_button" onclick="$('#add_form').toggle();">Adauga cimp</a>
    <div id="add_form" class="{% if not edit %}add_hidden{% endif %}">
        <form action="" method="post" {{ form_enctype(form) }}>
              {{ form_widget(form) }}
              {% if edit %}
                  <input type="hidden" name="field_id" value="{{ edit }}">
              {% endif %}
              {{ form_rest(form) }}
              <input type="submit" value="Salveaza" class="btn btn-primary"/>
        </form>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div>
        <table width="100%" class="table table-striped">
            <tr>
                <th>
                    Document
                </th>
                <th>
                    Denumirea ro
                </th>
                <th>
                    Denumirea ru
                </th>
                <th>
                    Descrierea ro
                </th>
                <th>
                    Descrierea ru
                </th>
                <th>
                    Ident
                </th>
                <th>
                    Activa?
                </th>
                <th>
                    Sortare
                </th>
                <th>
                    Operatii
                </th>
            </tr>
            {% for item in fields %}
                <tr>
                    <td>
                        {{ item.doc_name }}
                    </td>
                    <td>
                        {{ item.field_name_ro }}
                    </td>
                    <td>
                        {{ item.field_name_ru }}
                    </td>
                    <td>
                        {{ item.field_desc_ro }}
                    </td>
                    <td>
                        {{ item.field_desc_ru }}
                    </td>
                    <td>
                        {{ item.field_ident }}
                    </td>
                    <td>
                        {% if item.is_active %}Da{% else %}Nu{% endif %}
                    </td>
                    <td>
                        {{ item.sorting }}
                    </td>
                    <td>
                        <a href="?action=delete_field&id={{ item.id }}">Sterge</a> |
                        <a href="?action=edit_field&id={{ item.id }}">Modifica</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}