{% extends '::admin_base.html.twig' %}
{% block body %}
<div class="center_div">
    <a href="javascript:;" class="add_button" onclick="$('#add_form').toggle();">Adauga categorie</a>
    <div id="add_form" class="{% if not edit %}add_hidden{% endif %}">
        <form action="{{ path('DocDocBundle_doc_categories') }}" method="post" {{ form_enctype(form) }}>
              {{ form_widget(form) }}
              {% if edit %}
                  <input type="hidden" name="category_id" value="{{ edit }}">
              {% endif %}
              {{ form_rest(form) }}
              <input type="submit" />
        </form>
    </div>
    <div>
        <table width="100%" cellpadding="0" cellspacing="0" border="1" class="items_table">
            <tr>
                <td>
                    Denumirea ro
                </td>
                <td>
                    Denumirea ru
                </td>
                <td>
                    Activa?
                </td>
                <td>
                    Sortare
                </td>
                <td>
                    Operatii
                </td>
            </tr>
            {% for item in categories %}
                <tr>
                    <td>
                        {{ item.categorynamero }}
                    </td>
                    <td>
                        {{ item.categorynameru }}
                    </td>
                    <td>
                        {% if item.isactive %}Da{% else %}Nu{% endif %}
                    </td>
                    <td>
                        {{ item.sorting }}
                    </td>
                    <td>
                        <a href="?action=delete_category&id={{ item.id }}">Sterge</a> |
                        <a href="?action=edit_category&id={{ item.id }}">Modifica</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}